:root {
    --rubik: 'Rubik', sans-serif;
    --border: rgba(150, 150, 160, 0.753);
    --main-bg: #e0e5ec;


    /* Card Colors */
    --iso-color: #37A4C8;
    --pal-color: #FFA500;
    --two-color: #5b0eeb;
    --spin-color: #f89898;
    --llw-color: #35c048;
    --fact-color: #eb0e96;
    --pn-color: #096d64;
    --rev-color: #8790e0;
    --lnr-color: #ff0000;
    --rw-color: #8e06fdda;
    --sum-all-color: #f36c36ed;
    --three-color: #05c0c7;
    --outcome-gen: #FFA500;
    --outcome-red: #FF1919;
    --outcome-green: #1a5f25;
    --extra-color: #2b923c;

    --js-header: #c32abbc9;

    /* social Links */
    --f-linkedin: #0077b5;
    --f-github: #333;
    --f-twitter: #1da1f2;
    
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100vh;
    font-family: var(--rubik);
    font-size: 30px;
    color: var(--main-bg);
    overflow-y: hidden;
    
}
header {
    width: 100%;
    min-width: 340px;
    height: 100px;
    font-size: 82.5%;
    display: flex;
    flex-direction: row;
    z-index: 3;
}
.header-info-holder {
    width: 95%;
    height: 100%;
    margin: 10px auto;
}
.hd-content {
    width: 95%;
    height: 85%;
    margin: 10px auto;
    display: flex;
    border-radius: 8px;
    box-shadow: inset 12px 12px 24px #b8bcc2,
        inset -12px -12px 24px #ffffff;
    flex-direction: row;
    justify-content: space-evenly;
}


.hd-holder {
    width: 90%;
    height: auto;
    margin: auto;
}

.header-btn {
    width: 50px;
    height : 50px;
    margin: auto 10px;
    background: var(--main-bg);
    border: 1px solid var(--main-bg);
    border-radius: 8px;
    box-shadow: 9px 9px 18px #5a5c5e,
        -9px -9px 18px #ffffff;
}
.header-btn:hover,
.header-btn:active,
.header-btn:focus {
    background: #e0e5ec;
    box-shadow: inset 5px 5px 10px #727578,
        inset -5px -5px 10px #ffffff;
    cursor: pointer;
}
.header-info {
    height: 30px;
    width: 30px;
    margin: auto;
    border-radius: 50%;
    color: var(--js-header);
}
/* .header-info:hover,
.header-info:active,
.header-info:focus {
    background: linear-gradient(145deg, #f0f5fd, #caced4);
    box-shadow:  inset 5px 5px 10px #727578,
        inset -5px -5px 10px #ffffff;
} */

.hd-title-holder {
    height: 50px;
    min-width: 158px;
    border-radius: 8px;
    box-shadow: 11px 11px 22px #afb3b8,
        -11px -11px 22px #ffffff;
}
#mb-header-title {
    display: none;
}
.hd-title {
    width: 95%;
    text-align: center;
    color: var(--js-header);
    font-size: 24px;
    font-weight: 600;
    margin: 10px auto;
    
}
.hd-clock {
    float: right;
    
    background: var(--main-bg);
    max-width: 140px;
    min-width: 100px;
    height: 50px;
    color:var(--js-header);
    margin: auto 10px;
    margin-right: 10px;
    text-align: center;
    padding: 15px 0px;
    font-family: var(--rubik);
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    box-shadow: 10px 10px 20px #afb3b8,
        -10px -10px 20px #ffffff;
}

.social-holder {
    width:15%;
    height: auto;
    margin: auto;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.social-list {
    display: flex;
    flex-direction: row;
    width: 240px;
    height: 70px;
    justify-content: space-between;
    /* border-radius: 10px;
    box-shadow: inset 20px 20px 15px #b8bcc2,
            inset -20px -20px 15px #ffffff; */
}
.social-btn-item {
    width: 45px;
    height: 45px;
    margin: 15px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid var(--iso-color);
    border-radius: 50%;
    box-shadow: 17px 17px 34px #5a5c5e,
        -17px -17px 34px #ffffff;
    
}
.social-links {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius:50%;
}
/* .social-links:hover,
.social-links:active,
.social-links:focus {
    background: linear-gradient(145deg, #f0f5fd, #caced4);
    box-shadow:  inset 5px 5px 10px #5a5c5e,
        inset -5px -5px 10px #ffffff;
} */

.social-btn-item:hover,
.social-btn-item:active,
.social-btn-item:focus {
    background: linear-gradient(145deg, #f0f5fd, #caced4);
    box-shadow:  inset 5px 5px 10px #5a5c5e,
        inset -5px -5px 10px #ffffff;
}

.f-icon {
    font-size: 30px;
    margin: 0 auto;
    
}
.f-linkedin {
    color: var(--f-linkedin);
}
.f-github {
    color: var(--f-github);
}
.f-twitter {
    color: var(--f-twitter);
}
@media (max-width: 875px) {
    header {
        height: 60px;
    }
    .header-info-holder {
        width: 100%;
        height: 95%;
        margin: 0;
    }
    .header-info {
        width: 25px;
        height: 25px;
        margin: 8px auto;
    }
    .hd-content {
        box-shadow: none;
    }
    .header-btn {
        width: 43px;
        height: 43px;
    }
    .hd-title-holder {
        width: 100%;
        height: 43px; 
        text-align: center;
    }
    .header-info {
        font-size: 20px;
        margin: 10px auto;
    }
    .hd-title{
        font-size: 20px;
    } 
    .clock-holder {
        height: 43px;
    }
    .hd-clock {
        height: 43px;
        padding: 10px 0;
       
    }
}
@media (max-width: 730px) {
    .header-info {
        font-size: 18px;
    }
    .hd-title {
        font-size: 17px;
        padding: 10px auto;
    }
    .hd-clock {
        font-size: 16px;
        margin: auto 10px;
    }
}
@media (max-width: 600px) {
    .header-info-holder {
        width: 100%;
    }
    .hd-content {
        width: 100%;
    }
    .header-btn {
        box-shadow: 4px 4px 9px #afb3b8,
            -4px -4px 9px #ffffff;
    }
    .hd-title {
        width: 75%;
        font-size: 18px;
    }
    #header-title {
        display: none;
    }
    #mb-header-title {
        display: block
    }
    /* social {
        height: 80px;
    } */
    .social-list {
        width: 80%;
        height: 53px;
        min-width: 150px;
        justify-content: space-between;
    }
    .social-btn-item {
        width: 40px;
        height: 40px;
        margin: 5px;
        box-shadow:   4px 4px 21px #989ca0,
        -4px -4px 21px #ffffff;
    }
}