:root {
    --rubik: 'Rubik', sans-serif;
    --border: rgba(150, 150, 160, 0.753);
    
    --main-bg: #e0e5ec;


    /* Card Colors */
    --iso-color: #37A4C8;
    --pal-color: #FFA500;
    --two-color: #5b0eeb;
    --spin-color: #f89898;
    --llw-color: #35c048;
    --fact-color: #eb0e96;
    --pn-color: #096d64;
    --rev-color: #8790e0;
    --lnr-color: #ff0000;
    --one-color: #8e06fdda;
    --btwo-color: #f36c36ed;
    --three-color: #05c0c7;
    --outcome-gen: #FFA500;
    --outcome-red: #FF1919;
    --outcome-green: #1a5f25;
    --extra-color: #2b923c;
    /* iso shadows */
    --iso-active-btn: 4px -4px 6px 0px #3bafd6,
        -4px -4px 6px 0px #256e86,
        inset -4px -4px 6px -0px #3bafd6,
        inset 4px 4px 6px -0px #3294b4;

    --lt-btn-shadow: 7px -7px 20px 0px rgba(255, 255, 255, 0.6),
        -4px -4px 5px 0px rgba(255, 255, 255, 0.6),
        7px 7px 20px 0px rgba(0, 0, 0, 0.133),
        4px 4px 5px 0px rgba(0, 0, 0, 0.067),
        inset 0px 0px 0px 0px rgba(255, 255, 255, 0.6),
        inset 0px 0px 0px 0px rgba(0, 0, 0, 0.067),
        inset 0px 0px 0px 0px rgba(255, 255, 255, 0.6),        
        inset 0px 0px 0px 0px rgba(10, 10, 10, 0.067);
    --lt-active-btn: box-shadow: 4px -4px 6px 0px rgba(255,255,255,0.5),
        -4px -4px 6px 0px rgba(116,125,136,0.2),
        inset -4px -4px 6px -0px rgba(255,255,255,0.5),
        inset 4px 4px 6px -0px rgba(116,125,136,0.3); 
    --rev-shadow: inset 5px 5px 10px #24065e,
        inset -5px -5px 10px #9216ff; 
    --in-shadow:   


}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100vh;
    font-family: var(--rubik);
    font-size: 30px;
    color: var(--main-bg);
    overflow-y: hidden;
    
}
/* Main Container */

.container {
    width: 83.5%;
    min-width: 340px;
    height: 650px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-content: center;
    color: var(--main-bg);
    border-radius: 10px;
}
.iso-container {
    background: linear-gradient(145deg, #caced4, #f0f5fd);
    box-shadow:  35px 35px 70px #5a5c5e,
        -35px -35px 70px #ffffff;
}
.pal-container {
    
    background: linear-gradient(145deg, #caced4, #f0f5fd);
    box-shadow:  8px 8px 16px #5a5c5e,
        -8px -8px 16px #ffffff;
}
.ts-container {
    background: var(--two-color);
    box-shadow: 35px 35px 70px #bec3c9,
             -35px -35px 70px #ffffff;
}
.spin-container {
    height: 600px;
    background: linear-gradient(145deg, #ffa3a3, #df8989);
    box-shadow:  20px 20px 40px #633d3d,
        -20px -20px 40px #fff3f3;
}
.lw-container {
    background: #e0e5ec;
    box-shadow:  50px 50px 100px #5a5c5e,
        -50px -50px 100px #ffffff;
}
.fact-container {
    background: #e0e5ec;
    box-shadow: inset 26px 26px 75px #5a5c5e,
        inset -26px -26px 75px #ffffff;
}
.pn-container {
    background: #096d64;
    box-shadow:  inset 50px 50px 100px #043430,
        inset -50px -50px 100px #0ea698;
}
.rev-int-container {
    background: #8790e0;
    box-shadow: inset 14px 14px 28px #5a6096,
        inset -14px -14px 28px #b4c0ff;
}
.lnr-container {
    background: #ff0000;
    box-shadow: inset 21px 21px 100px #660000,
        inset -21px -21px 100px #ff0000;
}
.container {
    display: none;
}
/* home button */
.home-btn-holder {
    width: 100%;
    height: 75px;
    /* border: 2px solid var(--pal-color); */
    
}
.btn-home {
    float: right;
    margin: 15px;
    width: 45px;
    height: 45px; 
    text-align: center;
    padding: 0px;
    border-radius: 50%;
    border: none;
    
}
.iso-home {
    background: linear-gradient(145deg, #f0f5fd, #caced4);
    box-shadow:  5px 5px 9px #5a5c5e,
            -5px -5px 9px #ffffff;
}
.pal-home {
    border: 1px solid var(--pal-color);
    background: linear-gradient(145deg, #caced4, #f0f5fd);
    box-shadow:  4px 4px 9px #5a5c5e,
        -4px -4px 9px #ffffff;
}
.two-home {
    /* border: 1px solid var(--two-color); */
    background: linear-gradient(145deg, #610ffb, #520dd4);
    box-shadow:  5px 5px 9px #24065e,
             -5px -5px 9px #9216ff;
}
.sw-home {
    border-radius:8px;
    box-shadow: inset 8px 8px 14px #a66666,
            inset -8px -8px 14px #ffcaca;
}
.lw-home {
    border: 1px solid var(--lw-color);
    background: linear-gradient(145deg, #f0f5fd, #caced4);
    box-shadow:  7px 7px 14px #94979c,
        -7px -7px 14px #ffffff;
}
.pn-home {
    /* border: 1px solid var(--pn-color); */
    background: linear-gradient(145deg, #0a756b, #08625a);
    box-shadow:  8px 8px 16px #042c28,
        -8px -8px 16px #0eaea0;    
}
.fact-home {
    background: #e0e5ec;
    box-shadow:  5px 5px 9px #5a5c5e,
        -5px -5px 9px #ffffff;
}
.rev-int-home {
    background: #e0e5ec;
    box-shadow: inset 5px 5px 9px #5a5c5e,
        inset -5px -5px 9px #ffffff;
}

.lnr-home {
    background: #ff0000;
    box-shadow: inset 7px 7px 14px #660000,
        inset -7px -7px 14px #ff0000;
}
.btn-home:hover {
    opacity: 65%;
}
.iso-home:active {
    background: linear-gradient(145deg, #f0f5fd, #caced4);
    box-shadow:  5px 5px 9px #5a5c5e,
        -5px -5px 9px #ffffff;
}
.pal-home:active {
    background: linear-gradient(145deg, #f0f5fd, #caced4);
    box-shadow:  inset 5px 5px 9px #5a5c5e,
        inset -5px -5px 9px #ffffff;
}
.two-home:active {
   box-shadow: var(--lt-active-btn);
}
.sw-home:active {
    background: linear-gradient(145deg, #f0f5fd, #caced4);
    box-shadow:  5px 5px 9px #5a5c5e,
        -5px -5px 9px #ffffff;
}
.lw-home:active {
    background: #e0e5ec;
    box-shadow:  inset 5px 5px 9px #5a5c5e,
        inset -5px -5px 9px #ffffff;;
}
.fact-home:active {
    background: #e0e5ec;
    box-shadow:  inset 5px 5px 9px #5a5c5e,
        inset -5px -5px 9px #ffffff;;
}
.pn-home:active {
    background: #096d64;
    box-shadow: inset 5px 5px 9px #042c28,
            inset -5px -5px 9px #0eaea0;
}
.rev-int-home:active {
    background: #e0e5ec;
    box-shadow:  5px 5px 9px #5a5c5e,
        -5px -5px 9px #ffffff;
}
.lnr-home:active {
    background: #ff0000;
    box-shadow: 5px 5px 9px #660000,
        -5px -5px 9px #ff0000;
}

.icon-home{
    width: 35px;
    height: 35px;
    padding: auto;
    margin: 5px auto;
    
}
.iso-home-icon {
    fill: var(--iso-color);
}
.pal-home-icon {
    fill: var(--pal-color);
}
.ts-home-icon {
    fill: var(--main-bg);
}
.sw-home-icon {
    fill: var(--spin-color);
}
.lw-home-icon {
    fill: var(--llw-color);
}
.fact-home-icon {
    fill: var(--fact-color);
}
.pn-home-icon {
    fill: var(--main-bg);
}
.rev-int-home-icon {
    fill: var(--rev-color);
}
.lnr-home-icon {
    fill: var(--main-bg);
}
.window-holder {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.window {
    width: 50%;
    height: auto;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
}
.iso-window {
    width: 50%;
    height: auto;
    margin: 18px;
    box-shadow: inset 17px 17px 15px #2c83a0,
        inset -17px -17px 15px #42c5f0;
}
.pal-window {
    width: 50%;
    height: auto;
    margin: 18px;
    color:var(--pal-color);
    text-align: center;
    border: 2px solid var(--pal-color);
    border-radius: 10px;
    background: linear-gradient(145deg, #caced4, #f0f5fd);
    box-shadow:  7px 7px 14px #6e7074,
        -7px -7px 14px #ffffff;
}
.two-window {
    height: 90%;
    /* height: auto; */
    margin: 18px;
    /* background: #e0e5ec; */
    background: #5b0eeb;
    box-shadow: inset 5px 5px 19px #24065e,
                inset -5px -5px 19px #9216ff;
}
.spin-window {
    /* width: 50%; */
    height: 90%;
    margin: 0;
}
.lw-window {
    width: 45%;
    height: 90%;
    margin: 10px auto;
    margin-right: 0;
    border: 2px solid var(--lw-color);
    color: var(--lw-color);
    background: #35c048;
    box-shadow: inset 14px 14px 28px #1e6d29,
        inset -14px -14px 28px #4cff67;
}
.fact-window {
    color: var(--fact-color);
    width: 45%;
    height: 90%;
    margin: 0 auto;
    background: linear-gradient(145deg, #f0f5fd, #caced4);
    box-shadow:  26px 26px 75px #5a5c5e,
                 -26px -26px 75px #ffffff;

}
.pn-window {
    width: 45%;
    margin:0 auto;
    height: 90%;
    background: linear-gradient(145deg, #08625a, #0a756b);
    box-shadow: 16px 16px 32px #042c28,
        -16px -16px 32px #0eaea0;
}
.rev-int-window {
    width: 45%;
    height: 90%;
    margin: 0 auto;
    background: #e0e5ec;
    box-shadow: 10px 10px 32px #5a5c5e,
        -10px -10px 32px #ffffff;
}
.lnr-window {
    width: 45%;
    height: 90%;
    margin: 0 auto;
    background: #e0e5ec;
    box-shadow: inset 14px 14px 28px #5a5c5e,
            inset -14px -14px 28px #6d6868;
}

/* Input Form */
form {
    /* margin: 20px; */
    padding: 10px;
    width: 90%;
    margin: auto;
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    
}
.iso-form {
    /* width: 90%; */
    height: 90%;
    /* margin: 25px; */
    color: var(--iso-color);
    /* box-shadow: inset 12px 12px 24px #256e86,
                inset -12px -12px 24px #49daff; */
    background: linear-gradient(145deg, #caced4, #f0f5fd);
    box-shadow:  12px 12px 24px #256e86,
        -12px -12px 24px #49daff;
}
.pal-form {
    width: 80%;
    padding: auto;
    border: 2px solid var(--pal-color);
    background: linear-gradient(145deg, #caced4, #f0f5fd);
    box-shadow:  8px 8px 16px #606265,
             -8px -8px 16px #ffffff;
}
.two-form {
    width: 90%;
    color: var(--main-bg);
    border: 1px solid var(--two-color);
    background: #5b0eeb;
    box-shadow:  6px 6px 12px #330884,
        -6px -6px 12px #8314ff;
}
.sw-form {
    width: 90%;
    /* height: 500px; */
    justify-content: space-evenly;
    color: var(--main-bg);
    background: linear-gradient(145deg, #ffa3a3, #df8989);
    box-shadow:  41px 41px 82px #633d3d,
        -41px -41px 82px #fff3f3;
}
.lw-form {
    width: 90%;
    color: var(--llw-color);
    background: #e0e5ec;
    box-shadow:  5px 5px 19px #237f30,
        -5px -5px 19px #47ff60;
}
.fact-form {
    width: 90%;
    height: 90%;
    background: #eb0e96;
    box-shadow: inset 26px 26px 75px #5e063c,
            inset -26px -26px 75px #ff16f0;
    
}
.rev-int-form {
    width: 90%;
    height: 90%;
    background: #8790e0;
    box-shadow: inset 14px 14px 28px #5a6096,
        inset -14px -14px 28px #b4c0ff;
}
.lns-form {
    width: 90%;
    height: 90%;
    margin: 30px auto;
    color: var(--main-bg);
    background: #ff0000;
    box-shadow:   inset 20px 20px 40px #660000,
    inset -20px -20px 40px #ff0000;
}
/* .pn-form {
    width: 80%;
    color: var(--pn-color);
    background: linear-gradient(145deg, #08625a, #0a756b);
    box-shadow:  41px 41px 82px #042c28,
        -41px -41px 82px #0eaea0;
} */

.intro {
    margin: 15px auto;
    text-align: center;
    font-size: 30px;
}
.sw-intro {
    font-size: 24px;
    margin-top: 0;
}
.fact-intro,
.fact-text-field,
.fact-btn-check {
    color: var(--fact-color);
    border-radius: 10px;
    background: #e0e5ec;
    box-shadow: inset 7px 7px 14px #5a5c5e,
        inset -7px -7px 14px #ffffff;
}

.pn-intro,
.pn-text-field,
.pnEval,
.pn-btn-check {
    color: var(--main-bg);
    border-radius: 10px;
    background: linear-gradient(145deg, #0a756b, #08625a);
    box-shadow:  12px 12px 24px #042c28,
        -12px -12px 24px #0eaea0;
}
.pn-intro {
    height: 70px;
    margin: 0 auto;
}
.input-holder {
    width: 95%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}
/* .iso-input-holder,
.ts-input-holder,
.sw-input-holder,
.lw-input-holder {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */
.iso-input-holder {
    border-radius: 10px;
    background: #37A4C8;
    box-shadow: inset 7px 7px 14px #164250,
        inset -7px -7px 14px #58ffff;
}
.ts-input-holder {
    border-radius: 10px;
    background: #5b0eeb;
    box-shadow:  6px 6px 12px #330884,
        -6px -6px 12px #8314ff;
}
.sw-input-holder {
    background: linear-gradient(145deg, #ffa3a3, #df8989);
    box-shadow:  8px 8px 14px #a66666,
        -8px -8px 14px #ffcaca; 
    border-radius: 10px;  
}
.lw-input-holder {
    justify-content: center;
    background: #35c048;
    box-shadow: inset 14px 14px 28px #154d1d,
        inset -14px -14px 28px #55ff73;
    border-radius: 10px;  
}
.rev-int-input-holder {
    border-radius: 10px;
    background: #e0e5ec;
    box-shadow: inset 14px 14px 28px #5a5c5e,
        inset -14px -14px 28px #ffffff;
}
.lns-input-holder {
    justify-content: center;
    border-radius: 10px;
    background: #e0e5ec;
    box-shadow: inset 20px 20px 40px #5a5c5e,
        inset -20px -20px 40px #ffffff; 
}

.two-nums,
.two-target,
.sw-words,
.sw-num {
    width: 100%;
    height: 100px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.text-field {
    width: 90%;
    height: 40px;
    margin: 30px auto;
    font-size: 24px;
    border-radius: 10px;
    outline: none;
    border: none;
    text-align: center;
}
/* .ts-text-field {
    /* width: 50%; */
    /* height: 40px;
    margin: 30px 10px;
    font-size: 24px;
    color: var(--main-bg);
    border-radius: 10px;
    border: none;
    outline: none; */
/* } */ 
.iso-text-field {
    color: var(--iso-color);
    background: #e0e5ec;
    box-shadow:  6px 6px 11px #2a7d98,
        -6px -6px 11px #44cbf8;
}
.pal-text-field {
    color: var(--pal-color);
    border: 2px solid var(--pal-color);
    background: linear-gradient(145deg, #caced4, #f0f5fd);
    box-shadow:  8px 8px 16px #5a5c5e,
             -8px -8px 16px #ffffff;
}
.ts-text-field {
    min-width: 140px;
    /* margin: 3px auto ; */
    color: var(--two-color);
    padding: 10px;
    /* border: 2px solid var(--two-color); */
    background: var(--main-bg);
    box-shadow: inset 6px 6px 12px #7d8084,
            inset -6px -6px 12px #ffffff;
}
.sw-text-field {
    min-width: 140px;
    height: 40px;
    margin: auto ;
    color: var(--spin-color);
    padding: 10px;
    border: 1px solid var(--spin-color);
    border-radius: 10px;
    background: var(--main-bg);
    box-shadow: inset 8px 8px 14px #a66666,
        inset -8px -8px 14px #ffcaca;
}
.lw-text-field {
    width: 90%;
    color: var(--llw-color);
    background: #e0e5ec;
    box-shadow:  50px 50px 100px #5a5c5e,
        -50px -50px 100px #ffffff;
}
.rev-int-text-field {
    color: var(--main-bg);
    background: linear-gradient(145deg, #909af0, #7a82ca);
    box-shadow:  5px 5px 10px #5d639b,
        -5px -5px 10px #b1bdff;
}
.lns-text-field {
    color: var(--main-bg);
    background: var(--lnr-color);
    
}
/* .fact-text-field {
    background: linear-gradient(145deg, #fb0fa1, #d40d87);
    box-shadow:  29px 29px 58px #5e063c,
             -29px -29px 58px #ff16f0;
} */
.iso-text-field::placeholder {
    color: var(--iso-color);
}
.pal-text-field::placeholder {
    color: var(--pal-color);
}
.ts-text-field::placeholder {
    color: var(--two-color);
}

#targetNumber,
#targetNumber::placeholder {
    text-align: center;
}
.sw-text-field::placeholder {
    color: var(--spin-color);
}
.lw-text-field::placeholder {
    color: var(--llw-color);
}
.fact-text-field::placeholder {
    color: var(--fact-color);
}

.pn-text-field::placeholder,
.rev-int-text-field::placeholder,
.lns-text-field::placeholder {
    color: var(--main-bg);
}

.pnRepoHolder {
    display: none;
}
.pn-holder {
    height: 125px;
}
/* Check Button */
.btn-check {
    width: 150px;
    height: 40px;
    margin: 10px auto;
    font-size: 18px;
    font-weight: 500;
    border:none;
    border-radius: 10px;
    
}
.iso-btn-check {
    color: var(--iso-color);
    box-shadow:  12px 12px 24px #256e86,
        -12px -12px 24px #49daff;
}
.pal-btn-check {
    color: var(--pal-color);
    border: 2px solid var(--pal-color);
    background: linear-gradient(145deg, #caced4, #f0f5fd);
    box-shadow:  8px 8px 16px #5a5c5e,
             -8px -8px 16px #ffffff;
}
.ts-btn-check {
    color: var(--main-bg);
    border: 2px solid var(--two-color);
    background: #5b0eeb;
    box-shadow:  6px 6px 12px #330884,
             -6px -6px 12px #8314ff;
}
.sw-btn-check {
    color: var(--spin-color);
    box-shadow: inset 8px 8px 14px #a66666,
        inset -8px -8px 14px #ffcaca;
}
.lw-btn-check {
    color: var(--main-bg);
    background: #35c048;
    box-shadow: inset 10px 10px 32px #154d1d,
        inset -10px -10px 32px #55ff73;
}
.rev-int-btn-check {
    color: var(--rev-color);
    background: #e0e5ec;
    box-shadow: inset 10px 10px 32px #5a5c5e,
        inset -10px -10px 32px #ffffff;
}
.lns-btn-check {
    color: var(--lnr-color);
    background: #e0e5ec;
    box-shadow: inset 10px 10px 32px #5a5c5e,
        inset -10px -10px 32px #ffffff;
}
.btn-check:hover {
    opacity: 65%;
}
.iso-btn-check:active {
    box-shadow: var(--iso-active-btn);
}
.pal-btn-check:active {
    box-shadow: var(--lt-active-btn);
}
.ts-btn-check:active {
    box-shadow: var(--lt-active-btn);
}
.sw-btn-check:active {
    background: linear-gradient(145deg, #f0f5fd, #caced4);
    box-shadow:  23px 23px 78px #633d3d,
        -23px -23px 78px #fff3f3;
}
.lw-btn-check:active {
    background: #35c048;
    box-shadow:  10px 10px 32px #154d1d,
         -10px -10px 32px #55ff73;
}
.fact-btn-check:active {
    background: #e0e5ec;
    box-shadow: 7px 7px 14px #5a5c5e,
        -7px -7px 14px #ffffff;
}
.pn-btn-check:active {
    background: #096d64;
    box-shadow: inset 15px 15px 30px #042c28,
        inset -15px -15px 30px #0eaea0;
}
.rev-int-btn-check:active {
    background: #e0e5ec;
    box-shadow: 10px 10px 32px #5a5c5e,
        -10px -10px 32px #ffffff;
}
.lns-btn-check:active {
    background: linear-gradient(145deg, #f0f5fd, #caced4);
    box-shadow:  15px 15px 30px #5a5c5e,
        -15px -15px 30px #ffffff;
}

/* STYLING RESPONSES */

.pnRepoHolder {
    display: none;
}
.pn-holder {
    height: 125px;
}
.evals {
    width: 90%;
    height: 80px;
    text-align: center;
    margin: 0 auto;
    padding: auto;
    font-size: 23px;
}
.factEval,
.pnEval {
    width: 100%;
    padding: 25px ;
    text-align: center;
}
.factEval {
    color: var(--main-bg);
}
.pnEval {
    height: 100px;
    margin: 0 10px;
    padding: auto;
}
/* PDFs */
.pdf-holder {
    margin: 20px auto;
    width: 50%;
    height: 90%;
    margin: 20px ;
    /* border: 2px solid black; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.pdf-content {
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* background: #37A4C8;
    box-shadow: inset 17px 17px 15px #2c83a0,
        inset -17px -17px 15px #42c5f0; */
   
}

.iso-pdf {
    height: 93%;
}
.pal-pdf {
    height: 93%;
}
.ts-pdf {
    height: 90%;
}
.sw-pdf {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly;
    align-items: center; */
    margin: 0 15px;
}
.lw-pdf {
    height: 90%;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}
.fact-pdf {
    height: 100%;
    width: 45%;
    margin: 0 auto;
}
.pn-pdf {
    height: 100%;
    width: 45%;
    margin: 0 auto;
}
.rev-int-pdf {
    height: 100%;
    width: 45%;
    margin: 0 auto;
}
.lns-pdf {
    height: 90%;
    width: 45%;
    margin: 0 auto;
}
.pdf-frame {
    width: 90%;
    height: 90%;
    margin:  30px auto;
    margin-bottom: 20px;
    
    border-radius: 10px;
    /* border: 2px solid black; */
}
.iso-pdf-content {
    height:100%;
    background: #37A4C8;
    box-shadow: inset 17px 17px 15px #2c83a0,
        inset -17px -17px 15px #42c5f0;
}
.pal-pdf-content {
    height: 100%;
    border-radius: 10px;
    border: 2px solid var(--pal-color);
    background: linear-gradient(145deg, #caced4, #f0f5fd);
    box-shadow:  8px 8px 16px #606265,
             -8px -8px 16px #ffffff;
}
.ts-pdf-content {
    height:100%;
    border-radius: 10px;
    border: 2px solid var(--two-color);
    background: #5b0eeb;
    box-shadow: inset 5px 5px 19px #24065e,
                inset -5px -5px 19px #9216ff;
}
.sw-pdf-content {
    height: 90%;
    border-radius: 10px;
    border: 2px solid var(--spin-color);
    background: #f89898;
    box-shadow: inset 10px 10px 20px #d38181,
        inset -10px -10px 20px #ffafaf;
}
.lw-pdf-content {
    height: 100%;
    border-radius: 10px;
    border: 2px solid var(--light-color);
    background: #35c048;
    box-shadow: inset 14px 14px 28px #1e6d29,
        inset -14px -14px 28px #4cff67;
    justify-content: space-evenly;
}
.fact-pdf-content {
    margin: 0 auto;
    height: 90%;
    background: linear-gradient(145deg, #f0f5fd, #caced4);
    box-shadow:  26px 26px 75px #5a5c5e,
        -26px -26px 75px #ffffff;

}
.pn-pdf-content {
    height: 90%;
    border-radius: 10px;
    background: linear-gradient(145deg, #08625a, #0a756b);
    box-shadow: 16px 16px 32px #042c28,
        -16px -16px 32px #0eaea0;
}
.rev-int-pdf-content {
    height: 90%;
    border-radius: 10px;
    background: #e0e5ec;
    box-shadow: 10px 10px 32px #5a5c5e,
        -10px -10px 32px #ffffff;
}
.lns-pdf-content {
    height: 100%;
    border-radius: 10px;
    background: #e0e5ec;
    box-shadow: inset 14px 14px 28px #5a5c5e,
            inset -14px -14px 28px #6d6868;
}
.iso-pdf-frame {
    background: linear-gradient(145deg, #caced4, #f0f5fd);
    box-shadow:  12px 12px 24px #256e86,
        -12px -12px 24px #49daff;
}
.pal-pdf-frame {
    border: 2px solid var(--pal-color);
    background: linear-gradient(145deg, #caced4, #f0f5fd);
    box-shadow:  8px 8px 16px #606265,
             -8px -8px 16px #ffffff;

}
.ts-pdf-frame {
    height: 98%;
    border: 2px solid var(--two-color);
    background: #5b0eeb;
    box-shadow:  6px 6px 12px #330884,
        -6px -6px 12px #8314ff;
}
.sw-pdf-frame {
    height: 100%;
    border: 2px solid var(--spin-color);
    background: linear-gradient(145deg, #ffa3a3, #df8989);
    box-shadow:  5px 5px 10px #c17777,
             -5px -5px 10px #ffb9b9;
}
.lw-pdf-frame {
    
    border: 2px solid var(--llw-color);
    background: #35c048;
    box-shadow:  5px 5px 19px #237f30,
        -5px -5px 19px #47ff60;
    
}
.fact-pdf-frame {
    height: 100%;
    border: 2px solid var(--main-bg);
    background: linear-gradient(145deg, #f0f5fd, #caced4);
    box-shadow:  26px 26px 75px #5a5c5e,
        -26px -26px 75px #ffffff;
}
.pn-pdf-frame {
    height: 100%;
    border: 2px solid var(--main-bg);
    background: linear-gradient(145deg, #08625a, #0a756b);
    box-shadow: 16px 16px 32px #042c28,
        -16px -16px 32px #0eaea0;
}
.lns-pdf-frame {
    height: 100%;
    border: 2px solid var(--lnr-color);
    background: #e0e5ec;
    box-shadow: inset 14px 14px 28px #5a5c5e,
            inset -14px -14px 28px #6d6868;
}
.download-holder {
    width: 90%;
    height: 120px;
    margin: 10px auto;
    
}
.btn > a:active {
    text-decoration: none;
    border:none;
    border-radius: 50%;
}

.iso-download-holder {
    margin: 15px auto;
}
.lw-download-holder {
    margin: 15px auto;
}
#iso-pdf-download-btn {
    background: linear-gradient(145deg, #3294b4, #3bafd6);
    box-shadow:  5px 5px 9px #23677e,
                 -5px -5px 9px #4be1ff;
}
#pal-pdf-download-btn {
    border: 2px solid var(--pal-color);
    background: linear-gradient(145deg, #caced4, #f0f5fd);
    box-shadow:  5px 5px 9px #8d9095,
             -5px -5px 9px #ffffff;
}
#ts-pdf-download-btn {
    border: 2px solid var(--two-color);
    background: #5b0eeb;
    box-shadow:  5px 5px 9px #24065e,
        -5px -5px 9px #9216ff;
}
#sw-pdf-download-btn {
    border: 2px solid var(--spin-color);
    background: #f89898;
    box-shadow:  5px 5px 9px #d38181,
        inset -5px -5px 9px #ffafaf;
}
#lw-pdf-download-btn {
    border: 2px solid var(--light-color);
    background: #35c048;
    box-shadow:  5px 5px 9px #1e6d29,
        inset -5px -5px 9px #4cff67;
}
#pn-pdf-download-btn {
    background: linear-gradient(145deg, #0a756b, #08625a);
    box-shadow:  8px 8px 16px #042c28,
        -8px -8px 16px #0eaea0;    
}
#rev-int-pdf-download-btn {
    background: #e0e5ec;
    box-shadow: inset 5px 5px 9px #5a5c5e,
        inset -5px -5px 9px #ffffff;
}
#lns-pdf-download-btn {
    background: #ff0000;
    box-shadow:   inset 20px 20px 40px #660000,
    inset -20px -20px 40px #ff0000;
}
#iso-download {
    fill: var(--main-bg);
}
#iso-download:active{
    box-shadow:  -5px -5px 9px #23677e,
        5px 5px 9px #4be1ff;
        
}
#pal-download {
    fill: var(--pal-color);
    border: none;
}
#pal-download:active {
    background: linear-gradient(145deg, #f0f5fd, #caced4);
    box-shadow:  inset 5px 5px 9px #5a5c5e,
        inset -5px -5px 9px #ffffff;
    
}
#ts-pdf-download {
    fill: var(--main-bg);
}
#ts-pdf-download:active {
    box-shadow:  -5px -5px 9px #330884,
        5px 5px 9px #8314ff;
}
#sw-pdf-download {
    fill: var(--main-bg);
    border: none;
}
#sw-pdf-download:active {
    background: #f89898;
    box-shadow:  inset 5px 5px 9px #d38181,
        inset -5px -5px 9px #ffafaf;
}
#lw-pdf-download {
    fill: var(--main-bg);
    border: none;
}
#lw-pdf-download:active {
    background: #35c048;
    box-shadow:  inset 5px 5px 9px #1e6d29,
        inset -5px -5px 9px #4cff67;
}
#pn-pdf-download {
    fill: var(--main-bg);
    border: none;
}
#pn-pdf-download:active {
    background: linear-gradient(145deg, #0a756b, #08625a);
    box-shadow:  8px 8px 16px #042c28,
        -8px -8px 16px #0eaea0;    
}
#rev-int-pdf-download {
    fill: var(--rev-color);
    border: none;
}
#rev-int-pdf-download:active {
    background: #e0e5ec;
    box-shadow: 5px 5px 9px #5a5c5e,
         -5px -5px 9px #ffffff;
}
#lns-pdf-download {
    fill: var(--main-bg);
    border: none;
}
#lns-pdf-download:active {
    background: #ff0000;
    box-shadow: inset 5px 5px 19px #660000,
        inset -5px -5px 19px #ff0000;
}

/* MAX-WIDTH 1225PX*/
@media (max-width: 1225px) {
    
    .btn-home {
        width: 43px;
        height: 43px;
    }
    
    .icon-home,
    .download {
        width: 33px;
        height: 33px;
    }
    .intro {
        font-size: 27px;
    }
    .sw-intro,
    .pn-intro {
        font-size: 22px;
    }
    .evals {
        width: 80%;
        font-size: 20px;
        margin: 0 auto;
    }
    .input-holder {
        width: 100%;
    }
    .text-field {
        width: 80%;
    }
    .text-field::placeholder {
        font-size: 20px;
    }
    .btn-check {
        width: 140px;
        height: 36px;
        font-size: 20px;
    }
    
    
}

/* MAX-WIDTH 900PX */
@media screen and (max-width: 900px) {
    .container {
        height: 90vh;
    }
    .window-holder{
        width: 100%;
        height: 90%;
        flex-direction: column;
        justify-content: space-between;
    }
    .window,
    .pdf-holder {
        width: 90%;
        height: 48%;
        margin: 0 auto;
    }
    .pdf-holder {
        height: 50%;
        /* margin: 0 auto; */
    }
    .pal-form,
    .two-form,
    .lw-form {
        width: 90%;
        height: 90%;
    }
    .sw-form {
        width: 100%;
        margin: 0;
    }
    .intro {
        font-size: 24px;
        margin-bottom: 0;
    }
    .ts-intro {
        margin-top:0;
    }
    .sw-intro,
    .pn-intro {
        font-size: 22px;
    }
    .pn-intro{
        padding: 0 auto;
       
    }
    .input-holder {
        height: 70px;
        margin: 0;
        margin-bottom: 10px;
    }
    .ts-input-holder,
    .sw-input-holder {
        height: 90px;
        margin: 5px auto;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .evals {
        width: 80%;
        font-size: 20px;
        margin: 0 auto;
    }
    .sumEval {
        height: auto;
    }
    .text-field {
        height: 36px;
        font-size: 18px;
        margin: auto;
    }
    .text-field::placeholder {
        font-size: 18px;
    }
    .ts-text-field {
        margin-top: 3px;
    }
    .btn-check {
        width: 140px;
        height: 36px;
        margin-top: 0;
        font-size: 16px;
    }
    .ts-btn-check,
    .sw-btn-check {
        margin-bottom: 0;
    }
    /* .pdf-holder {
        width: 90%;
        height: 50%;
        margin: 0 auto;
    } */
    .pdf-frame {
        height: 85%;
        margin: 20px auto;
        margin-bottom: 10px;
    }
    .download-holder {
        margin-bottom:10px;
    }
}

/* MAX-WIDTH 800PX */
@media screen and (max-width:800px){
    .ts-input-holder,
    .sw-input-holder {
        flex-direction: column;
    }
    .ts-intro,
    .sw-intro,
    .pn-intro {
        font-size: 20px;
    }
    .play {
        margin: 3px auto;
    }
}
/* MAX-WIDTH 565PX */
@media screen and (max-width: 565px) {
    html,
    body {
        overflow-y: hidden;
        width: 100%;
        height: 90vh;
    }
    body {
        position: relative;
    }
    
    .text-field::placeholder {
        font-size: 18px;
    }
    .intro,
    .evals{
        font-size: 18px;
    }
    .ts-intro,
    .sumEval,
    .sw-intro,
    .pn-intro {
        font-size: 18px;
    }
    /* .pn-intro {
        font-size: 16px;
    } */
}



