:root {
    --rubik: 'Rubik', sans-serif;
    --border: rgba(150, 150, 160, 0.753);
    
    --main-bg: #e0e5ec;

    /* ISOGRAM */
   
    --iso-color: #37A4C8;
   
   
    /* Card Colors */
    --iso-color: #37A4C8;
    --pal-color: #FFA500;
    --two-color: #5b0eeb;
    --spin-color: #f89898;
    --llw-color: #35c048;
    --fact-color: #eb0e96;
    --pn-color: #0b7c739d;
    --rev-color: #ff0000;
    --lnr-color: #8790e0;
    --one-color: #8e06fdda;
    --btwo-color: #f36c36ed;
    --three-color: #05c0c7;
    --outcome-gen: #FFA500;
    --outcome-red: #FF1919;
    --outcome-green: #1a5f25;
    /* iso shadows */
    --iso-active-btn: 4px -4px 6px 0px #3bafd6,
        -4px -4px 6px 0px #256e86,
        inset -4px -4px 6px -0px #3bafd6,
        inset 4px 4px 6px -0px #3294b4;

}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    font-family: var(--rubik);
    font-size: 30px;
    background: var(--bg);
    overflow-y: hidden;
    text-align: center;
}

.pal-container {
    width: 850px;
    height: 450px;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: var(--trim);
    background:  black;
    border-radius: 8px;
    /* border: 10px ridge #ecaf76; */
    border: 10px ridge var(--trim);
}
.pal-intro {
    margin: 0 .5rem;
    text-align: center;
}
.pal-input-holder {
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}
.pal-text-field {
    width: 400px;
    height: 40px;
    margin: 1rem auto;
    font-size: 20px;
    color: white;
    background: black;
    outline: none;
    border: none;
    border-bottom: 5px ridge var(--trim);
    border-radius: 5px;
    text-align: center;
}
.pal-btn-check {
    width: 150px;
    height: 40px;
    margin: .5rem auto;
    font-size: 18px;
    font-weight: 600;
    color: var(--trim);
    background:black;
    border: 5px ridge var(--trim);
    border-radius: 8px;
    padding-top: 4px;
}

/* STYLING RESPONSES */
.palEval {
    text-align: center;
    margin: .4rem auto;
    color: orange;
}


/* MAX-WIDTH 825PX*/
@media screen and (max-width: 825px) {
    .pal-container {
        width: 80%;
        margin: auto;
    }
    .pal-intro,
    .palEval {
        width: 80%;
        font-size: .8em;
        margin: 0 auto;
    }
    .pal-input-holder {
        width: 100%;
    }
    .pal-text-field {
        width: 70%;
    }
}

/* MAX-WIDTH 500PX */
@media screen and (max-width: 500px) {
    html,
    body {
        overflow-y: hidden;
        width: 100%;
    }
    body {
        position: relative;
    }
    .pal-container {
        min-width: 340px;
        height: 420px;
    }
    .pal-intro,
    .palEval {
        font-size: .6em;
    }
    .pal-btn-check,
    .pal-btn-reset {
        font-size: 15px;
    }
}

