:root {
    --rubik: 'Rubik', sans-serif;
    --border: rgba(150, 150, 160, 0.753);
    
    --main-bg: #e0e5ec;


    /* Card Colors */
    --iso-color: #37A4C8;
    --pal-color: #FFA500;
    --two-color: #5b0eeb;
    --spin-color: #f89898;
    --llw-color: #35c048;
    --fact-color: #eb0e96;
    --pn-color: #096d64;
    --rev-color: #8790e0;
    --lnr-color: #ff0000;
    --one-color: #8e06fdda;
    --btwo-color: #f36c36ed;
    --three-color: #05c0c7;
    --outcome-gen: #FFA500;
    --outcome-red: #FF1919;
    --outcome-green: #1a5f25;
    --extra-color: #2b923c;

    --js-header: #c32abbc9;
    
    /* box-shadow */
    --header-shadow: 7px -7px 20px 0px rgba(255, 255, 255, 0.6),
        -4px -4px 5px 0px rgba(255, 255, 255, 0.6),
        7px 7px 20px 0px rgba(0, 0, 0, 0.133),
        4px 4px 5px 0px rgba(0, 0, 0, 0.067),
        inset 0px 0px 0px 0px rgba(255, 255, 255, 0.6),
        inset 0px 0px 0px 0px rgba(0, 0, 0, 0.067),
        inset 0px 0px 0px 0px rgba(255, 255, 255, 0.6),        
        inset 0px 0px 0px 0px rgba(0, 0, 0, 0.067);


}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100vh;
    font-family: var(--rubik);
    font-size: 30px;
    color: var(--main-bg);
    overflow-y: hidden;
    
}

.sidebar {
    width: 7%;
    height: 23vh;
    margin: 10px 0;
    font-size: 82.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sidebar-content {
    width: 70px;
    /* height: 72px; */
   
    display: grid;
    grid-template-rows: 4, 25%;
    
    border: var(main-bg);
    box-shadow: var(--header-shadow);
    border-radius: 8px;
}
/* .sb-content-holder {
    padding: 10px auto;
} */
.sb-btn {
    width: 50px;
    height : 50px;
    margin: auto;
    border: none;
    
    box-shadow: var(--header-shadow);
    border-radius: 8px;
}