/* SET UP */

:root {
    /* font */
    --rubik: 'Rubik', sans-serif;
    
    /* background */
    --main-bg: #e0e5ec;

    /* Card Colors */
    --iso-color: #37A4C8;
    --pal-color: #FFA500;
    --two-color: #5b0eeb;
    --spin-color: #f89898;
    --llw-color: #35c048;
    --fact-color: #eb0e96;
    --pn-color: #0b7c739d;
    --rev-color: #8790e0;
    --lnr-color: #ff0000;
    --rw-color: #8e06fdda;
    --sqc-color: #f36c36ed;
    --rome-color: #05c0c7;

    --js-header: #c32abbc9;
    --card-btn-shadows:  inset 9px 9px 17px #5a5c5e,
        inset -9px -9px 17px #ffffff;
   

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
}

body {
    height: 100vh;
    font-family: var(--rubik);
    color: var(--js-black);
    background:  var(--main-bg);
    overflow: hidden;
}

.dash-holder {
    /* CHECK THIS HEIGHT AT BREAKPOINTS */
    height: 90vh;
    width: 100%;
    display: flex;
    margin: 0 auto;
    /* margin-left: 0; */
    overflow: hidden;
   
    
}
.dash-grid-holder {
    width: 90%;
    display: flex;
    height: 92%;
    /* flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; */
    margin: 0 auto;
    overflow: hidden;

}
.dashboard {
    width: 90%;
    /* CHECK HERE FOR THE SCROLL HEIGHT */
    height: 80vh;
    display: grid;
    /* This ensures responsiveness */
    
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    /* /This ensures responsiveness */
    gap: 20px;
    
    margin: 20px auto;

    padding: 15px;
    box-shadow: 7px -7px 20px 0px rgba(255, 255, 255, 0.6),
        -4px -4px 5px 0px rgba(255, 255, 255, 0.6),
        7px 7px 20px 0px rgba(0, 0, 0, 0.133),
        4px 4px 5px 0px rgba(0, 0, 0, 0.067),
        inset 0px 0px 0px 0px rgba(255, 255, 255, 0.6),
        inset 0px 0px 0px 0px rgba(0, 0, 0, 0.067),
        inset 0px 0px 0px 0px rgba(255, 255, 255, 0.6),        
        inset 0px 0px 0px 0px rgba(0, 0, 0, 0.067);
    transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
    border-radius: 10px;
    overflow-y: auto;

}

/* .sidebar {
    width: 6%;
} */
.algo-card {
    
    /* background: var(--card-bg); */
    display: flex;
    flex-direction: column;
    /* CHECK HERE FOR CARD CONTENT SPACING */
    justify-content: space-evenly;
    text-align: center;
    padding: 10px;
    box-shadow: 
    7px -7px 20px 0px rgba(255, 255, 255, 0.6),
        -4px -4px 5px 0px rgba(255, 255, 255, 0.6),
        7px 7px 20px 0px rgba(0, 0, 0, 0.133),
        4px 4px 5px 0px rgba(0, 0, 0, 0.067),
        inset 0px 0px 0px 0px rgba(255, 255, 255, 0.6),
        inset 0px 0px 0px 0px rgba(0, 0, 0, 0.067),
        inset 0px 0px 0px 0px rgba(255, 255, 255, 0.6),        
        inset 0px 0px 0px 0px rgba(0, 0, 0, 0.067);
    /* transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81); */
    border-radius: 10px;
    
}
.algo-info {
    /* height: 60%; */
    text-align: center;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
    margin: 5px auto;
    margin-bottom: 10px;
}

.btn-holder {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: auto;
    
    /* align-items: flex-end; */
}



.btn {
    width: 45px; 
    height: 45px;
    /* margin-top: 10px; */
    outline: none;
    border: none;
    border-radius: 50%;
    background: var(--main-bg);
    box-shadow: 7px -7px 20px 0px rgba(251, 251, 251, 0.6),
        -4px -4px 5px 0px rgba(255, 255, 255, 0.6),
        7px 7px 20px 0px rgba(0, 0, 0, 0.133),
        4px 4px 5px 0px rgba(8, 8, 8, 0.067),
        inset 0px 0px 0px 0px rgba(255, 255, 255, 0.6),
        inset 0px 0px 0px 0px rgba(0, 0, 0, 0.067),
        inset 0px 0px 0px 0px rgba(255, 255, 255, 0.6),        
        inset 0px 0px 0px 0px rgba(0, 0, 0, 0.067);
    text-align: center;
    font-size: 24px;
    
    
}


.download {
    width: 25px;
    height: 25px;
    margin: 4px auto;
}
.fa-play {
    /* width: 30px;
    height: 30px; */
    margin: 8px auto;
    margin-left: 3px;
    font-size: 18px;
}

/* Isogram card */
.iso,
.iso-play {
    color: var(--iso-color);
}
.iso-download {
    fill: var(--iso-color);
}
.iso-btn:active,
.iso-btn:hover,
.iso-btn:focus {
    border: 2px solid var(--iso-color);
    box-shadow:  var(--card-btn-shadows);
    cursor: pointer;
}

/* Palindrome Card */
.pal,
.pal-play {
    color: var(--pal-color);
}
.pal-download {
    fill: var(--pal-color);
}
.pal-btn:active,
.pal-btn:hover,
.pal-btn:focus {
    border: 2px solid var(--pal-color);
    box-shadow:  var(--card-btn-shadows);
    cursor: pointer;
}
/* Two Sum Car */
.two,
.two-play {
    color: var(--two-color);
}
.two-download {
    fill: var(--two-color);
}
.two-btn:active,
.two-btn:hover,
.two-btn:focus {
    border: 2px solid var(--two-color);
    box-shadow:  var(--card-btn-shadows);
    cursor: pointer;
}
/* Spin Card */
.spin,
.spin-play {
    color: var(--spin-color);
}

.spin-download{
    fill: var(--spin-color);
}
.spin-btn:active,
.spin-btn:hover,
.spin-btn:focus {
    border: 2px solid var(--spin-color);
    box-shadow:  var(--card-btn-shadows);
    cursor: pointer;
}
/* Longest .. Card */
.llw,
.llw-play {
    color: var(--llw-color);
}

.llw-download  {
    fill: var(--llw-color);
}
.llw-btn:active,
.llw-btn:hover,
.llw-btn:focus {
    border: 2px solid var(--llw-color);
    box-shadow:  var(--card-btn-shadows);
    cursor: pointer;
}
/* Factor Card */
.fact,
.fact-play {
    color: var(--fact-color);
}

.fact-download {
    fill: var(--fact-color);
}
.fact-btn:active,
.fact-btn:hover,
.fact-btn:focus {
    border: 2px solid var(--fact-color);
    box-shadow:  var(--card-btn-shadows);
    cursor: pointer;
}
/* Palindrome Number Card*/
.pn,
.pn-play {
    color: var(--pn-color);
}

.pn-download {
    fill: var(--pn-color);
}
.pn-btn:active,
.pn-btn:hover,
.pn-btn:focus {
    border: 2px solid var(--pn-color);
    box-shadow:  var(--card-btn-shadows);
    cursor: pointer;
}
/* Reverse Integer Card*/
.rev,
.rev-play {
    color: var(--rev-color);
}

.rev-download {
    fill: var(--rev-color);
}
.rev-btn:active,
.rev-btn:hover,
.rev-btn:focus {
    border: 2px solid var(--rev-color);
    box-shadow:  var(--card-btn-shadows);
    cursor: pointer;
}

/* Longest NON... Card*/
.lnr,
.lnr-play {
    color: var(--lnr-color);
}

.lnr-download {
    fill: var(--lnr-color);
}
.lnr-btn:active,
.lnr-btn:hover,
.lnr-btn:focus {
    border: 2px solid var(--lnr-color);
    box-shadow:  var(--card-btn-shadows);
    cursor: pointer;
}


/* Reverse a Word....Card */
.rw,
.rw-play {
    color: var(--rw-color);
}

.rw-download {
    fill: var(--rw-color);
}
.rw-btn:active,
.rw-btn:hover,
.rw-btn:focus {
    border: 2px solid var(--rw-color);
    box-shadow:  var(--card-btn-shadows);
    cursor: pointer;
}
/* Square Or Cube */
.sqc,
.sqc-play {
    color: var(--sqc-color);
}

.sqc-download {
    fill: var(--sqc-color);
}
.sqc-btn:active,
.sqc-btn:hover,
.sqc-btn:focus {
    border: 2px solid var(--sqc-color);
    box-shadow:  var(--card-btn-shadows);
    cursor: pointer;
}
/* Rome and Back */
.rome,
.rome-play {
    color: var(--rome-color);
}

.rome-download{
    fill: var(--rome-color);
}
.rome-btn:active,
.rome-btn:hover,
.rome-btn:focus {
    border: 2px solid var(--rome-color);
    box-shadow:  var(--card-btn-shadows);
    cursor: pointer;
}
/* Breakpoints */
@media (min-width: 500px) {
    .dashboard {
        padding: 20px;
        overflow: auto;
    }
    h3 {
        font-size: .85em;
    }
    .info {
        font-size: .7em;
    }
    .btn-holder{
        height: 55px;
        
    }
    .btn-holder .btn {
        margin-top: auto;
    }
}
@media (min-width: 600px) {
    .dashboard {
        padding: 30px;
    }
}
@media (min-width: 768px) {
    .dashboard {
        padding: 40px;
    }
    h3 {
        font-size: .9em;
    }
    .info {
        font-size: .75em;
    }
    .card-download-holder,
    .play-holder { 
        width: 43px;
        height: 43px;
        margin: 0 auto;
        
    
    }
    .download {
        width: 33px;
        height: 33px;
        margin: 2px auto;
    }
    .play {
        width: 35px;
        height: 35px;
        margin-top: 5px;
        margin-left: 5px;
     
    }
}
@media (min-width: 1080px) {
    .dashboard {
        padding: 50px;
    }
    h3 {
        font-size: 1em;
    }
    .info {
        font-size: .75em;
    }
    .card-download-holder,
    .play-holder { 
        width: 45px;
        height: 45px;
        margin: 0 auto;
    
    }
    .btn-holder {
        width: 90%;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    .btn {
        width: 50px; 
        height:50px;
    }
    .download {
        width: 35px;
        height: 35px;
        margin: 4px auto;
    }
    .play {
        width: 38px;
        height: 38px;
        margin-left: 5px;
        
    }
}
