/* SET UP */

:root {
    /* font */
    --rubik: 'Rubik', sans-serif;
    
    /* background */
    --main-bg: #e0e5ec;

    /* Card Colors */
    --iso-color: #37A4C8;
    --pal-color: #FFA500;
    --two-color: #5b0eeb;
    --spin-color: #f89898;
    --llw-color: #35c048;
    --fact-color: #eb0e96;
    --pn-color: #0b7c739d;
    --rev-color: #8790e0;
    --lnr-color: #ff0000;
    --one-color: #8e06fdda;
    --btwo-color: #f36c36ed;
    --three-color: #05c0c7;

    --js-header: #c32abbc9;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
}

body {
    height: 100vh;
    font-family: var(--rubik);
    color: var(--js-black);
    background:  var(--main-bg);
    overflow: hidden;
}
/* .main-body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
} */
.dash-holder {
    height: 90vh;
    width: 100%;
    display: flex;
    margin: 0 auto;
    /* margin-left: 0; */
    overflow: hidden;
   
    
}
.dash-grid-holder {
    width: 90%;
    display: flex;
    height: 100%;
    /* flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; */
    margin: 0 auto;
    overflow: hidden;

}
.dashboard {
    width: 90%;
    /* CHECK HERE FOR THE SCROLL HEIGHT */
    height: 750px;
    display: grid;
    /* This ensures responsiveness */
    
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    /* /This ensures responsiveness */
    gap: 20px;
    
    margin: 20px auto;

    padding: 15px;
    box-shadow: 7px -7px 20px 0px rgba(255, 255, 255, 0.6),
        -4px -4px 5px 0px rgba(255, 255, 255, 0.6),
        7px 7px 20px 0px rgba(0, 0, 0, 0.133),
        4px 4px 5px 0px rgba(0, 0, 0, 0.067),
        inset 0px 0px 0px 0px rgba(255, 255, 255, 0.6),
        inset 0px 0px 0px 0px rgba(0, 0, 0, 0.067),
        inset 0px 0px 0px 0px rgba(255, 255, 255, 0.6),        
        inset 0px 0px 0px 0px rgba(0, 0, 0, 0.067);
    transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
    border-radius: 10px;
    overflow-y: scroll;

}

/* .sidebar {
    width: 6%;
} */
.algo-card {
    
    /* background: var(--card-bg); */
    display: flex;
    flex-direction: column;
    /* CHECK HERE FOR CARD CONTENT SPACING */
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    box-shadow: 
    7px -7px 20px 0px rgba(255, 255, 255, 0.6),
        -4px -4px 5px 0px rgba(255, 255, 255, 0.6),
        7px 7px 20px 0px rgba(0, 0, 0, 0.133),
        4px 4px 5px 0px rgba(0, 0, 0, 0.067),
        inset 0px 0px 0px 0px rgba(255, 255, 255, 0.6),
        inset 0px 0px 0px 0px rgba(0, 0, 0, 0.067),
        inset 0px 0px 0px 0px rgba(255, 255, 255, 0.6),        
        inset 0px 0px 0px 0px rgba(0, 0, 0, 0.067);
    /* transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81); */
    border-radius: 10px;
    
}
.algo-info {
    height: 70%;
    text-align: center;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
    margin: 10px auto;
}

.btn-holder {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.download-holder,
.play-holder { 
    width: 40px;
    height: 40px;
    margin: 0 auto;
    
}

.btn {
    width: 100%; 
    height: 100%;
    outline: none;
    border: none;
    border-radius: 50%;
    background: var(--main-bg);
    box-shadow: 7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001,
        inset 0px 0px 0px 0px #fff9,
        inset 0px 0px 0px 0px #0001,
        inset 0px 0px 0px 0px #fff9,        
        inset 0px 0px 0px 0px #0001;
    text-align: center;
    
}

/* .btn:active{
    box-shadow: 4px -4px 6px 0px rgba(255,255,255,0.5),
                -4px -4px 6px 0px rgba(116,125,136,0.2),
                inset -4px -4px 6px -0px rgba(255,255,255,0.5),
                inset 4px 4px 6px -0px rgba(116,125,136,0.3);
} */
.download:hover {
    opacity: 65%;
}

/* download styling */
.download {
    width: 31px;
    height: 31px;
    margin: 4px auto;
}
.play {
    width: 33px;
    height: 33px;
    margin-left: 5px;
 
}
/* Isogram card */
.iso {
    color: var(--iso-color);
}
.iso-download,
.iso-play {
    fill: var(--iso-color);
}

/* Palindrome Card */
.pal {
    color: var(--pal-color);
}
.pal-download,
.pal-play {
    fill: var(--pal-color);
}

/* Two Sum Car */
.two {
    color: var(--two-color);
}
.two-download,
.two-play {
    fill: var(--two-color);
}

/* Spin Card */
.spin {
    color: var(--spin-color);
}

.spin-download,
.spin-play {
    fill: var(--spin-color);
}

/* Longest .. Card */
.llw {
    color: var(--llw-color);
}

.llw-download,
.llw-play {
    fill: var(--llw-color);
}

/* Factor Card */
.fact {
    color: var(--fact-color);
}

.fact-download,
.fact-play {
    fill: var(--fact-color);
}

/* Palindrome Number Card*/
.pn {
    color: var(--pn-color);
}

.pn-download,
.pn-play {
    fill: var(--pn-color);
}

/* Reverse Integer Card*/
.rev {
    color: var(--rev-color);
}

.rev-download,
.rev-play {
    fill: var(--rev-color);
}


/* Longest NON... Card*/
.lnr {
    color: var(--lnr-color);
}

.lnr-download,
.lnr-play {
    fill: var(--lnr-color);
}


/* First extra card */
.one {
    color: var(--one-color);
}

.one-download,
.one-play {
    fill: var(--one-color);
}

/* Next to last card */
.btwo {
    color: var(--btwo-color);
}

.btwo-download,
.btwo-play {
    fill: var(--btwo-color);
}

/* Last Card */
.three {
    color: var(--three-color);
}

.three-download,
.three-play {
    fill: var(--three-color);
}

/* Breakpoints */
@media (min-width: 500px) {
    .dashboard {
        padding: 20px;
    }
    h3 {
        font-size: .85em;
    }
    .info {
        font-size: .7em;
    }
}
@media (min-width: 600px) {
    .dashboard {
        padding: 30px;
    }
}
@media (min-width: 768px) {
    .dashboard {
        padding: 40px;
    }
    h3 {
        font-size: .9em;
    }
    .info {
        font-size: .75em;
    }
    .download-holder,
    .play-holder { 
        width: 43px;
        height: 43px;
        margin: 0 auto;
    
    }
    .download {
        width: 33px;
        height: 33px;
        margin: 2px auto;
    }
    .play {
        width: 35px;
        height: 35px;
        margin-top: 5px;
        margin-left: 5px;
     
    }
}
@media (min-width: 1080px) {
    .dashboard {
        padding: 50px;
    }
    h3 {
        font-size: 1em;
    }
    .info {
        font-size: .75em;
    }
    .download-holder,
    .play-holder { 
        width: 45px;
        height: 45px;
        margin: 0 auto;
    
    }
    .download {
        width: 35px;
        height: 35px;
        margin: 4px auto;
    }
    .play {
        width: 38px;
        height: 38px;
        margin-left: 5px;
        
    }
}
