.footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 10vh;
    text-align: center;
}
.social-holder {
    width:auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
.social-list {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 70px;
}
.social-btn-item {
    width: 45px;
    height: 45px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--main-bg);
    border: 2px solid var(--js-header);
    border-radius: 50%;
    box-shadow: 17px 17px 34px #5a5c5e,
        -17px -17px 34px #ffffff;
    
}
.social-links {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius:50%;
}
.social-btn-item:hover,
.social-btn-item:active,
.social-btn-item:focus {
    background: linear-gradient(145deg, #f0f5fd, #caced4);
    box-shadow:  inset 5px 5px 10px #5a5c5e,
        inset -5px -5px 10px #ffffff; 
    cursor: pointer;
}
.f-icon {
    font-size: 30px;
}
.poly {
    width: 22px;
    height: 22px;
    margin: 4px auto;
}
.f-linkedin {
    color: var(--f-linkedin);
}
.f-github {
    color: var(--f-github);
}
.f-twitter {
    color: var(--f-twitter);
}

.copyright {
    height: 20px;
    font-size: 10px;
    margin: 0 auto;
}
.copy {
    font-size: 14px;
    margin: 0 auto;
    color: var(--js-header);
}
